<p-card>
    <ng-template pTemplate="header">
        <app-header  [isEdicion]="true" [titulo]="titulo" [ruta]="ruta"></app-header>
    </ng-template>

    <div class="p-fluid p-formgrid p-grid">
        <div class="p-col-12 p-md-6">
            <div class="card">
                <div class="p-col-12 p-md-6">
                        <span style="width: 30px;">
                            <label for="lblId">ID</label>
                            <p-inputNumber [disabled]="true" id="lblId" [(ngModel)]="task.id"> </p-inputNumber>
                        </span>
                </div>
                
                <div class="p-field">
                    <span>
                        <label for="lblTitulo">Titulo</label>
                        <input type="text" id="lblTitulo" pInputText [(ngModel)]="task.titulo"> 
                        
                    </span>
                </div>

                <div class="p-field">
                    <span>
                        <label for="lblFecha">Fecha</label>
                        <p-calendar id="lblFecha" [(ngModel)]="task.fechaCreacion" [showTime]="true" [showIcon]="true" ></p-calendar>
                        
                    </span>
                </div>

                <div class="p-field">
                    <span>
                        <label for="lblDescripcion">Descripcion</label>
                        <textarea id="lblDescripcion" [(ngModel)]="task.descripcion" pInputTextarea></textarea>
                        
                    </span>
                </div>

                <div class="p-field">
                    <span>
                        <label for="lblNivel">Nivel</label>
                        <p-dropdown [options]="niveles" [(ngModel)]="task.nivelPrioridad" placeholder="Seleccione" optionLabel="label" optionValue="value"></p-dropdown>
                    </span>
                </div>

                <div class="p-field">
                    <span>
                        <label for="lblStatus">Estado</label>
                        <p-dropdown [options]="estados" [(ngModel)]="task.status" placeholder="Seleccione" optionValue="value" optionLabel="label"></p-dropdown>
                    </span>
                </div>

                <div class="card" style="margin: 20px;">
                    <p-table [value]="subtask" #dt1 dataKey="id" >

                        <ng-template pTemplate="caption">
                            <div class="table-header" style="text-align: center;">
                                SubTask            
                            </div>
                            <button pButton pRipple icon="pi pi-plus" class="p-button-success p-mr-2" (click)="addSubtask()"></button>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="id">
                                    ID
                                    <p-sortIcon field="id"></p-sortIcon>
                                    <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
                                </th>
            
                                <th pSortableColumn="name">
                                    Name
                                    <p-sortIcon field="name"></p-sortIcon>
                                    <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
                                </th>

                                <th pSortableColumn="date">
                                    Date
                                    <p-sortIcon field="date"></p-sortIcon>
                                    <p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
                                </th>

                                <th pSortableColumn="descripcion">
                                    Descripcion
                                    <p-sortIcon field="descripcion"></p-sortIcon>
                                    <p-columnFilter type="text" field="descripcion" display="menu"></p-columnFilter>
                                </th>

                                <th>
                                    Opciones
                                </th>

                        </ng-template>
            
            
                        <ng-template pTemplate="body" let-subtask>
                            <tr>
                                <td>{{subtask.id}}</td>
                                <td>{{subtask.name}}</td>
                                <td>{{subtask.date}}</td>
                                <td>{{subtask.descripcion }}</td>

                                <td>
                                    <button pButton pRipple icon="pi pi-pencil" (click)="editSubtask(subtask)" class="p-button-rounded p-button-success p-mr-2"></button>
                                    <button pButton pRipple icon="pi pi-trash" (click)="delete(subtask)" class="p-button-rounded p-button-warning"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            
                <div class="p-field" style="margin-top: 10px;">
                    <button pButton pRipple type="button" (click)="isModoEdicion ? update() : add()" styleClass="p-button-success p-mr-2 p-mb-2"  label="Guardar" ></button>
                </div>
    
            </div>
        </div>
    </div>

</p-card>

<!-- Parte de eliminación -->
<p-confirmDialog header="DELETE SUBTASK"  icon="pi pi-exclamation-triangle" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" 
[style]="{width: '50vw'}"></p-confirmDialog>

<p-dialog header="Error" [(visible)]="displayDialog" icon="pi pi-exclamation-triangle">
    <p>No se ha podido eliminar</p>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayDialog=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
    
</p-dialog>

<!-- Para Edición -->
<p-dialog [(visible)]="subtaskDialog" [style]="{width: '450px'}" header="Subtask" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="subtaskEdit.name" required autofocus />
        </div>

        <div class="p-field">
            <label for="date">Date</label>
            <p-calendar id="date" [(ngModel)]="subtaskEdit.date" [showTime]="true" [showIcon]="true" ></p-calendar>
        </div>

        <div class="p-field">
            <label for="descripcion">Description</label>
            <textarea id="descripcion" pInputTextarea [(ngModel)]="subtaskEdit.descripcion" required rows="3" cols="20"></textarea>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveSubtask(subtaskEdit)"></button>
    </ng-template>
</p-dialog>

<!-- <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog> -->

